
#container{
  background-color: rgb(255, 255, 255);
  width:100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;

}


.meumFont{
  font-size:18px;
  color: #e2e2e2;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  color: #e2e2e2;
  font-weight: bold;
  font-size: 24px;
  font-family:'Courier New', Courier, monospace;
  background: rgba(255, 255, 255, 0.0);
  float: left;
}

#backBtn{
  float: left;
  margin: 10px;
}
#infomations{
  display: none;
  float: right;
  position: relative;
  background-color: #ffffff;
}

#infolist {
  padding: 0 20px;
  font-size: 16px;
}

.infoLoading {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infoLoadingImg{
  width: 200px;
  text-align: center;
}

.infoError {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infoErrorImg{
  width: 50px;
  margin: 50px 0;
  text-align: center;
}

.infoDetails {
  width: 100%;
  height: 100%;
}

.infoName {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.infoImgContainer {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.infoImg {
  width: 200px;
}

.infoLink {
  text-align: center;
}
.infoProps{
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.infoPropItemContainer{
  height: 35px;
  display: flex;
  justify-content: center;
}

.infoPropItem{
  font-size: 13px;
  font-weight: 400;
  width: 80%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.infoPropItemProp{
  font-weight: 600;
}

.meumIcon {
  font-size: 25px;
  height: 25px;
}
#toolmeum .ant-menu-item .anticon,#toolmeum .ant-menu-submenu-title .anticon{
  font-size: 17px;
}
#searchNode {
  width: 100%;
  padding: 15px;
}

#filterSelector {
  width: 100%;
  padding: 15px 15px 0 15px;
}

#searchList-1,
#searchList-2 {
  width: 100%;
  overflow-y: auto;

}
.filterTitle{
  width: 100%;
  height:48px;
  vertical-align:middle;
  font-size:20px;
  padding: 10px 10px 10px 20px;
  margin-bottom: 0px;
  border-bottom: #bebebe solid 1.25px;
}
#filter .ant-form-item {
  margin-bottom: 3px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: rgb(219, 219, 219);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}


.G6tooltip {
  max-height: 150px;
  width: 200px;
  font-size: 12px;
  overflow-y: auto;
  text-align: center;
  background-color: rgba(255, 255, 255);
  padding: 0px;
  box-shadow: rgb(174, 174, 174) 0px 0px -10px;
  border: 0px;
  border-radius: 10px;
}

.G6tooltip .tooltip-title {
  text-align: left;
  border-radius: 15px;
  width:200px;
  margin-top:-49px;
  font-size: 16px;

  padding: 5px 15px;
  position:relative;
  background-color: rgba(255, 255, 255);
  border: 1px solid #e3e3e3;
}
.G6tooltip .tooltip-content {
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}

.G6tooltip .tooltip-content p {
  width: 100%;
  border: 1px solid #e3e3e3;
  padding: 5px 10px;
  margin: -1px;
}

.G6tooltip .tooltip-content p:hover {
  box-shadow: #cfcfcf 0px 0px 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #525355;
}


#toolbar {
  background-color: rgb(255, 255, 255);

  vertical-align: middle;
  float: left;
  position: absolute;
  margin: 10px;
  /* border:#363b40 1px solid; */
  border-radius: 23px;
  height: 46px;
  width: auto;
  padding: 8px;
}

#toolbar:hover {
  box-shadow: 2px 2px 4px #aaaaaa;
}

.unabled {
  cursor: not-allowed;
}

.abled {
  cursor: pointer;
}

/* #toolbar botton {
  background-color: #ffffff00;
  float: left;
  position: relative;
  list-style-type:none;
  cursor: pointer;
  font-size: large;
  margin:3px;
  width: 40px;
  height: 100%;
  border-radius: 15px;
} */
.opBtn {
  background-color: #ffffff00;
  height: 100%;
  border-radius: 50%;
  border: none;
}

.opBtn img {
  height: 100%;
}

#tips {
  text-align: right;
  color: #868686;
  position: absolute;
  right: 375px;
  margin-top: 15px;
}

.search-list {
  position: absolute;
  width:270px;
  top:55px;
  max-height: 300px;
  right: 15px;
  border: 1px solid #e3e3e3;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  z-index: 10;
  overflow-y: auto;
  visibility: hidden;

}

.search-list div {
  width: 100%;
  height: auto;
  padding-left: 20px;
  line-height: 50px;
  float: left;
  border: 1px solid #e3e3e3;
  color: #525355;
  display: block;
  font-size: 16px;
  padding: 0 10px;
  text-decoration: none;
  /* background-color: white; */
  z-index: 11;
}

.search-list div:hover {
  font-weight: bold;
  cursor: pointer;
  box-shadow: #cfcfcf 0px 0px 10px;
  color: #525355;
}

.search-list .selected {
  font-weight: bold;
  box-shadow: #cfcfcf 0px 0px 10px;
  color: #525355;
}

.intensity .ant-form-item-label {
  float: left;
  width: 132px;
  padding-top: 5px;
}
.labelControl .ant-form-item-label {
  float: left;
  /* width: 244px; */
  padding-bottom: 0;
}

.labelIcon{
  width: 21px;
  height: 32px;
  font-size: 16px;
  padding: 8px 0px 0px 5px;
  color: #777;
}
.labelIconNohover{
  width: 21px;
  height: 32px;
  font-size: 16px;
  padding: 8px 0px 0px 5px;
  color: #2bff00;
}
.labelIcon:hover{
  color: red;
}
.labelAdd{
  width:auto;
  height: 29px;
  padding-top: 4px;
  color: rgb(0, 159, 238);
}
.labelAdd:hover{
  padding-top: 3px;
  color: rgb(139, 216, 255);
}
.condOp .ant-select-selection__rendered{
  margin-left: 12px;
  margin-right: 5px;
}

/* .valueDropdownItem .ant-select-dropdown-menu{
  width:42px;
} */
.ant-notification{
  width:280px;
  margin-left: 40px;
}

.ant-alert-message {
  font-size: 12px;
}
.ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content{
  margin-left:0px;
}
.ant-modal-confirm .ant-modal-confirm-btns{
  margin-top:10px;
}
.ant-layout-sider{
  background:white;
}
.SearchPage{
  margin: 30px  0 0 30px ;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
}

#InfoTitle{
  border-radius: 20px;
  width: 100%;
  display: block;
}
.InfoTitle-item{
  text-align: center;
  width: 50%;
}
.InfoMeum{
  border-radius: 20px;
  float: right;
  width: 100%;
  height: calc(100% - 48px);
  display: block;
}
.Info{
  margin: 30px 30px 0 0 ;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

}

#minimap{

  float:left;
  position: absolute;
  z-index: 12;
  border-radius: 10px;
  border:#ffffff solid 4px ;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.39);
  bottom: 85px;
  margin-left: 15px;
}
/* contextmeum */
.G6Meum {
  position: absolute;
  z-index: 2;
  list-style-type: none;
  background-color: #363b40;
  border-radius: 10px;
  font-size: 14px;
  color: hsla(0, 0%, 100%, .85);
  width: fit-content;
  transition: opacity .2s;
  text-align: center;
  padding: 0px 20px 0px 20px;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.6);
  border: 0px;
}

.G6Meum ul {
  padding-left: 0px;
  margin: 0;
}

.G6Meum li {
  cursor: pointer;
  list-style-type: none;
  list-style: none;
  margin-left: 0;
  line-height: 38px;
}

.G6Meum li:hover {
  color: #aaaaaa;
}
.highlight {
  background-color: rgb(255, 192, 105);
  padding: 0px;
}

